@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Shop";
}

@model IEnumerable<BTL_LTWNC.Models.EF.Product>
<link rel="stylesheet" href="./css/header.css" asp-append-version="true" />

@* 
@await Html.PartialAsync("~/Views/Shared/_CommonSectionPartialView.cshtml", (string)ViewBag.Title); *@

<section>
    <div class="container">

        <form class="d-flex nav__search" role="" asp-controller="Product" asp-action="Search" method="post">
            <input class="form-control me-2" type="search" name="keyword" onkeyup="search(this)" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        
       @*  <div class="select-input mt-1">
            <span class="select-input__label">
                Sắp xếp theo 
            </span>
            <i class="select-input-icon fa-solid fa-chevron-down"></i>
            <!--List options-->
            <ul class="select-input__list">
                <li class="select-input__item">
                    <a href="/product/sort/ASC" class="select-input__link">Giá: Thấp đến cao</a>
                </li>
                <li class="select-input__item">
                    <a href="/product/sort/DESC" class="select-input__link">Giá: Cao đến thấp</a>
                </li>
                <li class="select-input__item">
                    <a href="/product/sort/smaller200000" class="select-input__link">Giá: < 2000000đ</a>
                </li>
                <li class="select-input__item">
                    <a href="/product/sort/bigger10000000" class="select-input__link"> Giá: between 100000Đ and 200000Đ</a>
                </li>
            </ul>
        </div> *@

            
       @*  <div class="row">
            @foreach (var item in Model)
            {
                @await Html.PartialAsync("~/Views/Shared/_ProductPartialView.cshtml", item)
            }
        </div>
        </div> *@

      @*   <div class="category-list">
            <h2>List category</h2>
            <ul>
                @if (ViewData["Categories"] != null)
                {
                                @foreach (var category in ViewData["Categories"] as IEnumerable<BTL_LTWNC.Models.EF.ProductCategory>)
                                {
                                    <li>
                                       @*  <a href="shop/@category.iCategoryID">@category.sCategoryName</a> *@
                                        @* <a asp-controller="Product" asp-action="GetProductByCategory" asp-route-id="@category.iCategoryID">@category.sCategoryName</a> *@
                         @*            </li>
                                }
                }
            </ul>
        </div> *@ 

        <div class="product-list">
            <h2> List Product</h2>
            <div class="row">
                @foreach (var item in Model)
                {
                    @await Html.PartialAsync("~/Views/Shared/_ProductPartialView.cshtml", item)
                }
            </div>
        </div>
    </div>


    
    <script src="~/js/site.js"></script>
</section>
