@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model BTL_LTWNC.Models.EF.ProductCategory

@if (Model == null)
{
    <h1 class="text-center text-uppercase text-danger fw-bold">Không có bản ghi nào!!!</h1>
}
else
{
    <div class="p-5">
        <h1 class="text-center text-uppercase font-bold">Xóa loại sản phẩm</h1>

        <div>
            <h4>Thông tin loại sản phẩm</h4>

            <dl class="row pt-3">
                <dt class="col-sm-2">
                    ID:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.iCategoryID)
                </dd>

                <dt class="col-sm-2">
                    Tên loại sản phẩm:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.sCategoryName)
                </dd>
            </dl>

            <form method="post" asp-area="Admin" asp-controller="ProductCategory" asp-action="Delete">
                <input type="hidden" asp-for="iCategoryID" />

                <div class="d-flex gap-4">
                    <a href="/admin/productcategory/QuanLyDanhMuc" class="btn btn-primary">Quay lại</a>
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </div>
            </form>
        </div>
    </div>
}