.hero__section {
    background-color: #f5f5f5;
}

.hero__content h2 {
    color: black;
    font-size: 6rem;
    font-family: "Namdhinggo", serif;
    font-weight: 900;
    padding: 30px 0px;
    letter-spacing: 1px;
}

.hero__content p:nth-child(1) {
    color: #09B44E;
    font-size: 1.1rem;
}

.hero__content p {
    width: 70%;
    font-weight: 700;
    text-align: justify;
}

.buy__btn {
    outline: none;
    background: #09B44E;
    padding: 10px 22px;
    border-radius: 7px;
    font-size: 1.1rem;
    color: white;
    transition: background 0.3s ease;
}

    .buy__btn:hover {
        color: white;
        scale: 1.1 !important;
    }


.service__item {
    padding: 20px;
    background-color: transparent;
    border: solid 1px #111;
    border-radius: 10px;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

    .service__item i {
        font-size: 2rem;
        background: transparent;
        border: solid 1px black;
        padding: 7px;
        border-radius: 50%;
    }

.service__content h3 {
    color: #0a1d37;
    font-size: 1.5rem;
    font-weight: 600;
}

.service__content p {
    font-size: 0.9rem;
}