
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model string

<link rel="stylesheet" href="./css/commonSection.css" asp-append-version="true" />


<section class="common__section mt-3">
    <div class="container w-100">
        <div>
            <h1>@Model</h1>
        </div>
    </div>
</section>
