@using Microsoft.AspNetCore.Http;
@{
    var us = ViewContext.HttpContext.Session.GetString("UserName");
    var role = ViewContext.HttpContext.Session.GetInt32("Role");
}

<link rel="stylesheet" href="./css/header.css" asp-append-version="true" />

<header class="header" id="myHeader">
    <div class="container">
        <div class="row">
            <div class="nav__wrapper d-flex justify-content-between align-items-center">
                <div class="logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <h1><span>F</span>oodgasm</h1>
                    </a>
                </div>
                <div class="navigation">
                    <ul class="menu d-flex align-items-center text-uppercase">
                        <li class="nav__item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="nav__item"><a asp-controller="Product" asp-action="getAllProduct">Shop</a></li>
                        <li class="nav__item"><a asp-controller="Cart" asp-action="Index">Cart</a></li>
                        @* <li class="nav__item"><a asp-controller="Product2" asp-action="Index">NewPage</a></li> *@
                        <li class="nav__item"><a asp-controller="About" asp-action="Index">About Us</a></li>

                        @if (role == 1)
                        {
                            <li class="nav__item"><a href="/admin/">Admin</a></li>
                        }

                    </ul>
                </div>
                <div class="nav__icons d-flex align-items-center justify-content-center gap-3">
                    <span class="cart__icon">
                        <a asp-controller="Cart" asp-action="Index">
                            <i class='bx bx-shopping-bag'></i>
                            <span id="cart_count" class="badge">0</span>
                        </a>
                    </span>
                    @if (us == null)
                    {
                        <span class="user__icon">
                            <a href="/login">
                                <i class='bx bx-user'></i>
                            </a>
                        </span>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="Logout"> Logout</a>
                    }
                    @if (us != null)
                    {
                        <p>Welcome: @us</p>
                    }
                    <div class="mobile__icon">
                        <span><i class='bx bx-menu'></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile__menu">
        <ul class="mobile__menu-list text-uppercase">
            <li class="mobile__menu-item"><a asp-controller="Home" asp-action="Index">MENU LIST</a></li>
            <li class="mobile__menu-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="mobile__menu-item"><a asp-controller="Product" asp-action="getAllProduct">Shop</a></li>
            <li class="mobile__menu-item" "><a asp-controller="Cart" asp-action="Index">Cart</a></li>
            @* <li class="nav__item"><a asp-controller="Product2" asp-action="Index">NewPage</a></li> *@
            <li class="mobile__menu-item" "><a asp-controller="About" asp-action="Index">About Us</a></li>

            @if (role == 1)
            {
                <li class="mobile__menu-item"><a href="/admin/">Admin</a></li>
            }
            <span class="mobile__menu-close">×</span>
        </ul>
    </div>
</header>

<script src="~/js/header.js" asp-append-version="true"></script>


