@model BTL_LTWNC.Models.EF.Product

<link rel="stylesheet" href="./css/productCard.css" asp-append-version="true" />


<div class="pt-4 col-md-6 col-lg-3 dt-4 ">
	<div class="product__item p-2">
		<div class="product__img">
			<a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@Model.iProductID"><img src="~/public/images/@Model.sImageUrl" alt=""></a>
		</div>

		<h3 class="product__name p-2"><a href="#"></a>@Model.sProductName</h3>
		<span class="Mô tả ">@Model.Descreption</span>
		<div class="card__bottom ps-2 pe-2 pb-2 d-flex align-items-center justify-content-between">
			<span class="price">@Model.fPrice.ToString("C0")</span>
		</div>

	</div>
</div>