@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Home Page";
    var us = ViewContext.HttpContext.Session.GetString("UserName");
}

@model IEnumerable<BTL_LTWNC.Models.EF.Product>

<link rel="stylesheet" href="./css/home.css" asp-append-version="true" />


<section class="hero__section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="hero__content pt-4">
                    <p class="text-uppercase"> Now taking online orders</p>
                    <h2>Laziza Food's</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Impedit omnis et deleniti qui aliquid, eum quo cupiditate quis
                        dolores a nisi, placeat quos rerum iure! Eveniet non officiis provident odio animi est dolore?

                    </p>

                    <div class="btn buy__btn text-uppercase mt-3">
                        <a href="/shop">Order now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <img src="./public/images/heroImg.png" />
            </div>
        </div>
    </div>
</section>

<section class="trending__products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Trending Products</h2>
            </div>
            @foreach (var item in Model)
            {
                @await Html.PartialAsync("~/Views/Shared/_ProductPartialView.cshtml", item)
            }
        </div>
    </div>
</section>

<section class="best_sales">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Best sales</h2>
            </div>
            @foreach (var item in Model)
            {
                @await Html.PartialAsync("~/Views/Shared/_ProductPartialView.cshtml", item)
            }
        </div>
    </div>
</section>

<section>
    <div class="services__section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="service__item">
                        <span>
                            <i class='bx bxs-truck'></i>
                        </span>
                        <div class="service__content">
                            <h3>Free Shipping</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service__item">
                        <span>
                            <i class='bx bxs-truck'></i>
                        </span>
                        <div class="service__content">
                            <h3>Easy Return</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service__item">
                        <span>
                            <i class='bx bx-credit-card'></i>
                        </span>
                        <div class="service__content">
                            <h3>Secure Payment</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service__item">
                        <span>
                            <i class='bx bxs-dollar-circle'></i>
                        </span>
                        <div class="service__content">
                            <h3>Back Guarantee</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
