@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Chức Năng Sản Phẩm";
}

@model IEnumerable<BTL_LTWNC.Models.EF.Product>


<link rel="stylesheet" href="./css/product2.css" asp-append-version="true" />


<section>
    <div class="select-input">
        <span class="select-input__label">
           MENU Các chức năng của sản phẩm 
        </span>
        <i class="select-input-icon fa-solid fa-chevron-down"></i>
        <!--List options-->
        <ul class="select-input__list">
            <li class="select-input__item">
                <a href="/admin/Product/ThemSanPham" class="select-input__link">Chức năng Thêm Sản Phẩm </a>
            </li>
            <li class="select-input__item">
                <a href="/admin/Product/QuanLySanPham" class="select-input__link">Chức năng sửa sản phẩm </a>
            </li>
            <li class="select-input__item">
                <a href="/admin/Product/QuanLySanPham" class="select-input__link">Chức năng xóa sản phẩm </a>
            </li>
            <li class="select-input__item">
                <a href="/admin/Product/QuanLySanPham" class="select-input__link">Chức năng xem danh sách  sản phẩm </a>
            </li>

        </ul>
    </div>
   @*  <div class="product-list">
        <h2> List Product</h2>
        <div class="row">
            @foreach (var item in Model)
            {
                @await Html.PartialAsync("~/Views/Shared/_ProductPartialView.cshtml", item)
            }
        </div>
    </div> *@
    <div class="container">


        <div class="product-list">
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <div class="product__item p-2">
                        <div class="product__img">
                            <a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@item.iProductID"><img src="~/public/images/@item.sImageUrl" alt=""></a>
                        </div>

                        <h3 class="product__name p-2"><a href="#"></a>@item.sProductName</h3>
                        <a class="Descreption">@item.Descreption</a>
                        <div class="card__bottom ps-2 pe-2 pb-2 d-flex align-items-center justify-content-between">
                            <a class="price">
                                @item.fPrice $
                            </a>
                        </div>

                    </div>
                }
            }
        </div>
    </div>

  
    <script>

    </script>
    <script src="~/js/site.js"></script>
</section>
