@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model BTL_LTWNC.Models.EF.Product

<div class="p-5">
    <h1 class="text-center text-uppercase font-bold">Add product</h1>

    <form method="post" asp-area="Admin" asp-controller="Product" asp-action="Create" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" asp-for="sProductName">
            <span asp-validation-for="sProductName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">ProductCategory</label>
            <select asp-for="iProductCategoryID" class="form-control" asp-items="ViewBag.cateList"></select>
        </div>

        <div class="mb-3">
            <label class="form-label">Price</label>
            <input type="number" class="form-control" asp-for="fPrice" min="0">
            <span asp-validation-for="fPrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Descreption</label>
            <input type="text" class="form-control" asp-for="Descreption">
            <span asp-validation-for="Descreption" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <div class="col-8">
                <label class="form-label">ImagePath</label>
                <input type="file" id="ChooseImg" class="form-control" asp-for="ImagePath">
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>

            <div class="col-4">
                <img src="~/public/images/100x100.jpg" id="PrevImg"
                     style="width: 150px; height:150px; border: 1px solid red; border-radius: 10px; padding: 10px"/>
            </div>
        </div>

        <div class="d-flex gap-3">
            <a class="btn btn-danger" href="/admin/product/QuanLySanPham">Back</a>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/AdminAssets/js/product.js"></script>
}

